@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: medium; */
}
a {
    color: gold;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: chocolate;
}