body {
    color: azure;
    background-color: steelblue;
    font-family: sans-serif;
    background-image: url("/img/c.svg");
    background-repeat: repeat;
    background-size: 24em;
    text-align: center;
}
a {
    color: gold;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: chocolate;
}
h1 {
    margin-left: 1em;
}
div.body {
    background-color: #fff8dc1f;
    margin: -0.5em 0 -0.5em 0;
    padding: 0.5em;
    font-size: large;
}
div.footer {
    text-align: center;
    font-size: smaller;
    color: lightblue;
    line-height: 0.5em;
}

#toggle_frame {
    display: none;
    align-content: center;
}
#toggle_frame_i {
    display: block;
}
#toggle {
    display: none;
}
#toggle:checked ~ #toggle_frame {
    display: block;
}
#toggle:checked ~ #toggle_frame_i {
    display: none;
}
#video {
    max-width: 960px;
}
img.logo{
    height: 8em;
    vertical-align: middle;
}
img.siteicon{
    height: 1em;
    vertical-align: middle;
}
p.timestamp {
    font-size: xx-small;
    font-style: italic;
}