<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <globalization fileEncoding="utf-8" />
        <httpRuntime enableVersionHeader="false" />
    </system.web>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="rev2">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{URL}" pattern="^/Reports/(.*)$" />
                        <add input="{URL}" pattern="^/powerbi/(.*)$" />
                    </conditions>
                    <action type="Rewrite" url="http://cj-desktop-1:8001/{C:0}" />
                    <serverVariables>
                    </serverVariables>
                </rule>
                <rule name="rev">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{URL}" pattern="^/live/(.*)$" />
                    </conditions>
                    <action type="Rewrite" url="http://localhost:8080/{C:0}" />
                </rule>
                <rule name="ReverseProxyInboundRule1" stopProcessing="false">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:8123/{C:1}" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{URL}" pattern="^/dynmap/(.*)$" />
                    </conditions>
                </rule>
                <rule name="ReverseProxyInboundRule2" stopProcessing="false">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:10001/{C:1}" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{URL}" pattern="^/amp/(.*)$" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="index.htm" />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
